.body {
background-color: wheat;
margin-left: 338px;
}

.shipping-container {
width: 550px;
}

.shipping-paragraph {
width: 100%;
font-family: arial, tahoma;
font-size: 20px;
margin-bottom: 20px;
}

.shipping-paragraph-1 {
font-size: 15px;
font-family: arial, tahoma;
width: 100%;
}

.note-that {
font-family: arial, tahoma;
font-size: 20px;
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
}

.note-that-paragraph-1 {
font-size: 15px;
font-family: arial, tahoma;
width: 100%;
}

.note-that-paragraph-2 {
font-size: 15px;
font-family: arial, tahoma;
width: 100%;
margin-top: 10px;
}

  @media (max-width: 767px) {
  .body {
  margin-left: 10px;
  margin-top: 50px;
  }
  .information-sidebar {
  display: none;
  }
  .shipping-container {
  width: 96%;
  margin-bottom: 13px;
  }
  }

    /* Display 768px to 1023px */

    @media (min-width: 768px) and (max-width: 1023px) {
    .body {
    margin-left: 318px;
    }
    .shipping-container {
    width: 400px;
    }
    }