/* Body */

.body {
background-color: wheat;
}

/* Four replaceable photos */

.four-replaceable-photos-container {
width: 34%;
display: grid;
flex-direction: row;
position: absolute;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 1%;
margin-left: 1%;
margin-top: 35%;
}

/*  Photo 1  */

.checkable-image-1 {
width: 100%;
cursor: pointer;
}

#sidebar {
width: 100%;
background-color: black;
color: white;
transform: translateY(-100%);
position: absolute;
top: 0;
left: 0;
visibility: hidden;
}
#sidebar-menu:checked ~ #sidebar {
margin: 0;
transform: translateY(-103.2%);
visibility: visible;
}

/*  Photo 2  */

.checkable-image-2 {
width: 100%;
cursor: pointer;
}

#sidebar-2 {
width: 100%;
background-color: black;
color: white;
transform: translateY(-100%);
position: absolute;
top: 0;
left: 0;
visibility: hidden;
}
#sidebar-menu-2:checked ~ #sidebar-2 {
margin: 0;
transform: translateY(-103.2%);
visibility: visible;
}

/*  Photo 3  */

.checkable-image-3 {
width: 100%;
cursor: pointer;
}

#sidebar-3 {
width: 100%;
background-color: black;
color: white;
transform: translateY(-100%);
position: absolute;
top: 0;
left: 0;
visibility: hidden;
}
#sidebar-menu-3:checked ~ #sidebar-3 {
margin: 0;
transform: translateY(-103.2%);
visibility: visible;
}

/*  Photo 4  */

.checkable-image-4 {
width: 100%;
cursor: pointer;
}

#sidebar-4 {
width: 100%;
background-color: black;
color: white;
transform: translateY(-100%);
position: absolute;
top: 0;
left: 0;
visibility: hidden;
}
#sidebar-menu-4:checked ~ #sidebar-4 {
margin: 0;
transform: translateY(-103.2%);
visibility: visible;
}

/* Price and Buttons container */

.price-and-buttons-container {
width: 20%;
position: absolute;
left: 64%;
margin-top: 17%;
}

/* Name */

.name {
font-family: arial, tahoma;
font-size: 20px;
margin-bottom: 20px;
width: 100%;
color: black;
}

/* Price */

.price {
font-size: 40px;
font-family: arial, tahoma;
margin-bottom: 20px;
color: rgb(14, 14, 14);
}

/* Buttons */

.add-to-cart {
width: 100%;
height: 42px;
background-color: rgb(14, 14, 14);
color: white;
border: 1px solid rgb(14, 14, 14);
border-radius: 3px;
margin-bottom: 3px;
font-size: 100%;
font-family: arial, tahoma;
font-weight: bold;
cursor: pointer;
}
.add-to-cart:hover {
background-color: rgba(255, 255, 255, 0.923);
color: rgb(14, 14, 14);
border: 1px solid rgb(14, 14, 14);
}

.order-now {
width: 100%;
height: 42px;
background-color: rgb(14, 14, 14);
color: white;
border: 1px solid rgb(14, 14, 14);
border-radius: 3px;
font-size: 100%;
font-family: arial, tahoma;
font-weight: bold;
cursor: pointer;
}
.order-now:hover {
background-color: rgba(255, 255, 255, 0.923);
color: rgb(14, 14, 14);
border: 1px solid rgb(14, 14, 14);
}

/* Product information */

.product-discription-container {
position: absolute;
margin-top: 47%;
width: 550px;
padding-bottom: 1%;
margin-left: 1%;
}

.product-discription {
font-size: 20px;
font-family: arial, tahoma;
width: 100%;
color: black;
margin-bottom: 20px;
}

.product-discription-1 {
font-family: arial, tahoma;
font-size: 15px;
width: 100%;
color: black;
}

.product-discription-2 {
font-family: arial, tahoma;
font-size: 15px;
width: 100%;
margin-top: 10px;
color: black;
}

.product-discription-3 {
font-family: arial, tahoma;
font-size: 15px;
width: 100%;
margin-top: 10px;
color: black;
}

  /* Display 0px to 767px */

  @media (max-width: 767px) {
  .header {
  z-index: 2;
  }
  .body {
  padding-top: 100%;
  margin-top: 45px;
  }
  .four-replaceable-photos-container {
  width: 97%;
  left: 0.5%;
  margin-top: 0px;
  }
  #sidebar {
  top: 7%;
  }
  #sidebar-2 {
  top: 7%;
  }
  #sidebar-3 {
  top: 7%;
  }
  #sidebar-4 {
  top: 7%;
  }
  .price-and-buttons-container {
  margin-top: 35%;
  width: 97%;
  left: 1.5%;
  }
  .price {
  font-size: 320%;
  }
  .add-to-cart {
  height: 50px;
  margin-bottom: 2px;
  }
  .order-now {
  height: 50px;
  }
  .product-discription-container {
  margin-top: 118%;
  margin-left: 1.5%;
  padding-bottom: 13px;
  left: 0;
  width: 97%;
  }
  .product-discription-1 {
  display: none;
  }
  }

    /* Display 768px to 1023px */

    @media (min-width: 768px) and (max-width: 1023px) {
    .body {
    padding-left: 150px;
    margin-top: 1%;
    }
    .price-and-buttons-container {
    left: 66%;
    }
    .name {
    display: none;
    }
    .add-to-cart {
    height: 34px;
    font-size: 82%;
    }
    .order-now {
    height: 34px;
    font-size: 82%;
    }
    }

      /* Display 1024px to 1439px */

      @media (min-width: 1024px) and (max-width: 1439px) {
      .body {
      padding-left: 170px;
      margin-top: 1%;
      }
      .name {
      display: none;
      }
      .add-to-cart {
      height: 38px;
      font-size: 93%;
      }
      .order-now {
      height: 38px;
      font-size: 93%;
      }
      }

        /* Display 1440px to max */

        @media (min-width: 1440px) {
        .body {
        padding-left: 170px;
        margin-top: 0.9%;
        }
        .name {
        display: none;
        }
        }